{
    "plugins": ["node", "jasmine"],
    "extends": ["eslint:recommended", "plugin:node/recommended", "plugin:jasmine/recommended"],
    "env": {
      jasmine: true,
      "es6": true,
    },
    "parserOptions": {
      "ecmaVersion": 2017,
    },
    "settings": {
        "node": {
            "allowModules": ["rewire", "gulp", "cucumber", "isparta", "gulp-cucumber", "gulp-sequence", "gulp-istanbul", "gulp-eslint", "gulp-jasmine"],
        }
    },
    "rules": {
        "node/exports-style": ["error", "module.exports"],
    },
}
